.auth__content {
    background-color: #e5e0d8;
    min-height: 100vh;
    padding: 25px 0;
}

.auth__title {
    text-align: center;
    color: #8b7969;
    font-size: 30px;
    margin-bottom: 30px;
}

.auth__card {
    background-color: #fff;
    max-width: 550px;
    margin: 0 auto;
    padding: 60px 80px;
    border-radius: 6px;
    border: 2px solid #c1bdb5;
}

.form__group {
    margin-bottom: 25px;
}

.form__label {
    color: #8b7969;
    margin-bottom: 10px;
    font-weight: bold;
}

.form__input input {
    width: 100%;
    padding: 15px;
    padding-left: 30px;
    border: none;
    background-color: #e6e5e3;
    color: #333333;
}

.form__button {
    text-align: center;
    margin-top: 40px;
}

.form__button-submit {
    background-color: #8b7969;
    color: #fff;
    padding: 5px 25px;
    border: none;
    cursor: pointer;
}

.form__error {
    color: #ff4d4b;
    font-size: 14px;
    margin-top: 5px;
    height: 1.2em;
    /* エラーがない時も高さを確保 */
}