.header-utilities {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__logo {
    font-family: "Noto Serif JP", serif;
    font-size: 55px;
    color: #8b8174;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0;
}

.header__nav {
    position: absolute;
    right: 0;
}

.header__button {
    display: inline-block;
    text-decoration: none;
    background-color: #e7e5e2 !important;
    color: #c1ae9c !important;
    padding: 2px 14px !important;
    border-radius: 0px !important;
    font-size: 14px;
    border: none;
    transition: background-color 0.3s;
    border: 1px solid #c1ae9c !important;
}

.header__button:hover {
    background-color: #d8d1ca;
}

.header {
    background: none;
    border-bottom: 1px solid #B7AEAA;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

body,
h2 {
    font-family: "Times New Roman", "Didot", "Georgia", "Yu Gothic", serif;
    font-weight: 400;
}

input,
select,
button {
    font-family: inherit;
}

.header__logo,
.header__logo a {
    font-family: "Times New Roman", "Didot", "Noto Serif JP", serif !important;
    font-size: 35px !important;
    color: #8b7969 !important;
    font-weight: normal !important;
}