.contact__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #312093e7;
}

.contact__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.contact__alert--danger ul {
    margin: 0;
}

.contact__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.section__title {
    margin: 0 auto;
    width: 70%;
}

.create-form, .search-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 70%;
    text-align: center;
}

.create-form__item, .search-form__item {
    display: flex;
    width: 70%;
    align-items: center;
}

.create-form__label {
    display: block;      
    font-weight: bold;  
    margin-bottom: 5px;
    color: #333;
    font-size: 0.9rem;
    width: 30px;
    min-width: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.create-form__item-input, .search-form__item-input {
    margin-right: 10px;
    padding: 10px;
    width: 55%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__item-input2, .search-form__item-input2 {
    margin-right: 10px;
    padding: 10px;
    width: 20%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__item-select, .search-form__item-select {
    padding: 10px;
    width: 25%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none; 
}

.create-form__button, .search-form__button {
    width: 20%;
}

.create-form__button-submit, .search-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #050b59;
    color: #fff;
    cursor: pointer;
}

.contact-table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.contact-table__inner {
    width: 100%;
}

.contact-table__row {
    border-bottom: 1px solid #ddd;
}

.contact-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.contact-table__header-span {
    margin-right: 28%;
}

.contact-table__header-span2 {
    margin-right: 20%;
}

.contact-table__header-span3 {
    margin-right: 15%;
}

.contact-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 40%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
}

.update-form__item-input2 {
    width: 30%;
    outline: none;
    border: none;
    text-align: right;
}

.update-form__item-p {
    text-align: left;
    font-size: 13px;
}

.update-form__button-submit {
    padding: 5px;
    width: 50px;
    border: none;
    border-radius: 3px;
    background: #0080ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__button-submit {
    padding: 5px;
    width: 50px;
    border: none;
    border-radius: 3px;
    background: #ff0051;
    color: #fff;
    cursor: pointer;
}