.thanks__content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40vh;
    overflow: hidden;
    background-color: #fff;
}

.thanks__background {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Times New Roman", "Didot", "Noto Serif JP", serif;
    font-size: 22vw;
    color: #f0ede6;
    z-index: 1;
    white-space: nowrap;
    user-select: none;
    letter-spacing: -0.02em;
}

.thanks__inner {
    position: relative;
    z-index: 2;
    text-align: center;
}

.thanks__message p {
    font-size: 1.3rem;
    margin-bottom: 40px;
    color: #8b7969;
    font-family: "Meiryo", serif;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.thanks__button-link {
    display: inline-block;
    background-color: #8b7969;
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 0px;
    font-size: 0.9rem;
    transition: opacity 0.3s;
}

.thanks__button-link:hover {
    opacity: 0.8;
}

.header {
    display: none;
}